<ion-view view-title="About" class="body-bg bg-static">
    <ion-content>
        
        <p class="msg-container">Birthdays are an occasion to look back at what you have achieved and forward to what the future might bring. It’s not any different here at Smashing Magazine. When we hit the publish button for the first time back in 2006, there was no master plan, only the desire to create something that we found useful and that we hoped others would find useful, too. Today, nine years, countless articles, a library full of eBooks and nine printed books later, we want to take this anniversary as an opportunity to give something back.</p> 

        <p>We dived deep into our books on the look out for timeless treasures and neatly bundled them up in this free eBook. A humble gift to you, our dear readers, you who made it all possible and with whom we’ve grown and evolved over the years.</p>

        <p>We dived deep into our books on the look out for timeless treasures and neatly bundled them up in this free eBook. A humble gift to you, our dear readers, you who made it all possible and with whom we’ve grown and evolved over the years.</p>

        <p>We dived deep into our books on the look out for timeless treasures and neatly bundled them up in this free eBook. A humble gift to you, our dear readers, you who made it all possible and with whom we’ve grown and evolved over the years.</p>

        <p>We dived deep into our books on the look out for timeless treasures and neatly bundled them up in this free eBook. A humble gift to you, our dear readers, you who made it all possible and with whom we’ve grown and evolved over the years.</p>
        
    </ion-content>
</ion-view>
