<ion-view view-title="Reset Password" class="body-bg bg-grey">
  <ion-content>
    <div class="logo"></div>
    <div class="tag-line"><span>Coaching for positive change</span></div>
    <form name="forgotForm
" role="form">
      <div class="list">
        <label class="item item-input">
          <input type="email" ng-model="email" name="email" ng-class="{'error': forgotForm
.email.$invalid && !forgotForm
.email.$pristine }" placeholder="Email Address" ng-required="true"   />
        </label>
        <div class="item ">
          <input class="button" type="button" value="Login" ng-click="goToLogin();" />
          <input class="button" type="submit" ng-disabled="!forgotForm
.$valid" value="Reset Password" ng-click="forgotPassword()"/>
          
        </div>
        
      </div>
    </form>
  </ion-content>
</ion-modal-view>
