<ion-view view-title="SetProfile" class="body-bg bg-red">
    <ion-content>
        <h1>Set profile</h1>
        <p class="msg-container">choose profile image</p>
        <form name="setProfile">
            <div class="img-container">
                <input type="file" name="fileToUpload" onchange="angular.element(this).scope().saveProfileImage(this)" ng-model="profileImg" id="fileToUpload" accept="image/png,image/jpeg,image/jpg">
                <label for="fileToUpload" data-tap-disabled="true" >
                    <img ng-src="{{imgSrc}}" ng-model="imgSrc" class="img-circle" id="imgSrc" name="imgSrc"  width="120" height="120" />
                </label>
                
            </div>
            <label class="item item-input">
                <input type="text" name="profileName" ng-model="profileName" placeholder="profile name" maxlength="15" ng-blur="saveProfileData(this)" />
            </label>
            <label class="item item-input">
                <input type="text" name="profileStatus" ng-model="profileStatus" placeholder="status" maxlength="20" ng-blur="saveProfileData(this)" />
            </label>
        </form>
    </ion-content>
    <footer><a href="#/mandgoal">&nbsp;</a></footer>
</ion-view>
