<ion-view view-title="ThankYou" class="body-bg bg-blue">
    <ion-content>
        <h1>Thank you</h1>
        <p class="msg-container">{{profileName}}</p>
        <div class="img-container"><img ng-src="{{imgSrc}}" ng-model="imgSrc" class="img-circle" id="imgSrc" name="imgSrc"  width="120" height="120" /></div>
        <div class="item">
            <p>You are all set.</p>
            <p>Will remind you at 8:30 pm</p>
            <p></p>
        </div>
    </ion-content>
    <footer><a href="#/app/homepage">&nbsp;</a></footer>
</ion-view>
