<ion-view view-title="UserGoals" class="body-bg bg-yellow">
    <ion-content>
        <h1>Set own goals</h1>
        <p class="msg-container">define your own goals to follow</p>
        <ion-list>
            <ion-item ng-repeat="goal in goalList">
                {{$index+1 | number:0}} . {{goal.title}} <span><input type="checkbox" ng-class="{'checked':checkbox[$index]}" ng-click="isChecked($index)" /></span>
            </ion-item>
        </ion-list>
    </ion-content>
    <footer><a href="#/setreminder">&nbsp;</a></footer>
</ion-view>
